{{if eq .chezmoi.osRelease.id "ubuntu"}} 
sudo apt-get install ripgrep ninja-build gettext cmake unzip curl
{{else if eq .chezmoi.osRelease.id "centos"}}
sudo dnf -y install ninja-build cmake gcc make unzip gettext curl ripgrep
{{end}}

# Install NeoVIM 0.9
git clone git@github.com:neovim/neovim.git {{.chezmoi.homeDir}}/.local/neovim
cd {{.chezmoi.homeDir}}/.local/neovim 
git checkout release-0.9
make distclean && make CMAKE_BUILD_TYPE=Release
sudo make install
