{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Template file for chezmoi config file */ -}}
{{- $deepl_api_key := "" -}}
{{- $mode := "none" -}}
{{- $git_user := "" -}}
{{- $git_email := "" -}}
{{- $decrypt_data := "false" -}}

{{- $is_kpalatzky := promptBool "Are you kpalatzky? [Yn]" true -}}
{{- if $is_kpalatzky -}}
{{-     $mode = promptString "Template: [P]ersonal,[w]ork" "p" -}}
{{-     $mode = lower $mode -}}
{{-     if eq $mode "p" -}}
{{-         $mode = "personal" -}}
{{-     end -}}
{{-     if eq $mode "w" -}}
{{-         $mode = "work" -}}
{{-     end -}}
{{- $decrypt_data = "a" -}}
{{- else -}}
{{-     $mode = "custom" -}}
{{-     $git_user = promptStringOnce . "git.user" "Git User:" -}}
{{-     $git_email = promptStringOnce . "git.email" "Git E-Mail:" -}}
{{-     $deepl_api_key = promptStringOnce . "secrets.deeplApiKey" "DeepL Api Key:" -}}
{{-     if $interactive -}}
{{-         writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{-     end -}}
{{- end -}}

{{- if eq $decrypt_data "true" }}
encryption: age
age:
    identity: {{ .chezmoi.sourceDir }}/key.txt
    recipient: age12xj4kwr50r6rgdtmndlwznd2smeey08hyj85atwakgrl2w7dx3gq809dj3
{{- end }}

{{- if eq $mode "personal" -}}

{{- else if eq $mode "work" -}}
{{- end -}}

data:
    opts:
        decrypt_data: {{ $decrypt_data }}
        mode: {{ $mode }}
    git:
        user: {{ $git_user }}
        email: {{ $git_email }}
    secrets:
        deeplApiKey: {{ $deepl_api_key }}


format: yaml

merge:
    command: nvim

git:
    autoAdd: true