# If not running interactively, dont do anything
[[ $- != *i* ]] && return

# Enable colors
autoload -U colors && colors

# set zsh options
setopt correct             # Turn on spelling correction
setopt histignoredups      # Don't save duplicates in command history
setopt noclobber           # Don't allow accidental file over-writes
setopt nobeep              # Disable beep
setopt chasedots           # Remove unnesseary directories. eg: './foo/bar/..' to './foo'
setopt pushd_ignore_dups   # Do not push the same directory multible times to the stack

# Neovim is the one and only editor
export EDITOR='nvim'
export DIFFPROG="nvim -d"
alias vim="$EDITOR"
alias nano="$EDITOR"
alias emacs="$EDITOR"
alias e="$EDITOR"

# prevent typos
alias dc="cd"
alias cd..="cd .."
alias cd--="cd --"
alias cdl='cd "$@" && ll'
alias cl="cdl"
alias sl="ls"
alias pdw="pwd"
alias clr="clear"
alias dir="ls"

# tar aliases
alias tarc="tar czvf"
alias tarx="tar xzvf"
alias tart="tar tzvf"

export PATH=$PATH:$HOME/.local/bin:/opt/nvim/bin

# Start starship
# eval "$(starship init zsh)"
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/config.json)"


