# If not running interactively, dont do anything
[[ $- != *i* ]] && return

# Check if zellij or tmux should be used as terminal mutiplexer
if [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ] && [ -z "$ZELLIJ" ]; then

  # Use Zellij over tmux if possible
  if [[ "$ZELLIJ_AUTO_ATTACH" == "true" ]]; then
    exec zellij attach -c
  else
    exec zellij
  fi

  # Fallback: tmux
  if command -v tmux &> /dev/null; then
    exec tmux
  fi
fi

# Enable colors
autoload -U colors && colors

# set zsh options
setopt correct             # Turn on spelling correction
setopt histignoredups      # Don't save duplicates in command history
setopt noclobber           # Don't allow accidental file over-writes
setopt nobeep              # Disable beep
setopt chasedots           # Remove unnesseary directories. eg: './foo/bar/..' to './foo'
setopt pushd_ignore_dups   # Do not push the same directory multible times to the stack

# Neovim is the one and only editor
export EDITOR='nvim'
export DIFFPROG="nvim -d"
alias vim="$EDITOR"
alias nano="$EDITOR"
alias emacs="$EDITOR"
alias e="$EDITOR"

# prevent typos
alias dc="cd"
alias cd..="cd .."
alias cd--="cd --"
alias cdl='cd "$@" && ll'
alias cl="cdl"
alias sl="ls"
alias pdw="pwd"
alias clr="clear"
alias dir="ls"

# tar aliases
alias tarc="tar czvf"
alias tarx="tar xzvf"
alias tart="tar tzvf"

# Start starship
eval "$(starship init zsh)"

