[user]
    user = {{ .git.user | quote }}
    email = {{ .git.email | quote }}
    signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
[commit]
    gpgSign = true
[gpg]
    format = ssh
[status]
    submodulesummary = true