{{if eq .chezmoi.osRelease.id "ubuntu"}} 
sudo apt update
sudo apt install ripgrep ninja-build gettext cmake unzip curl tmux
{{else if eq .chezmoi.osRelease.id "centos"}}
sudo dnf -y install ninja-build cmake gcc make unzip gettext curl ripgrep tmux
{{end}}
