{{- $data := false -}}
{{- if eq .opts.mode "personal" -}}
{{-     $data = (joinPath .chezmoi.sourceDir ".personal_data.yaml.age" | include | decrypt | fromYaml) -}}
{{- else if eq .opts.mode "work" -}}
{{-     $data = (joinPath .chezmoi.sourceDir ".work_data.yaml.age" | include | decrypt | fromYaml) -}}
{{- end -}}

# write to file
echo "START {{ $data.git.user }}"

echo "END {{ $data.git.user }}"