#!/usr/bin/env bash

# install depencdencies
{{if eq .chezmoi.osRelease.id "ubuntu"}} 
sudo apt update
sudo apt -y install ripgrep ninja-build gettext cmake unzip curl tmux fontconfig unzip
{{else if eq .chezmoi.osRelease.id "centos"}}
sudo dnf -y install ninja-build cmake gcc make unzip gettext curl ripgrep tmux fontconfig unzip
{{end}}

# Install JetBrains Nerd Fonts
if [ ! -f "{{ .chezmoi.homeDir }}/.local/share/fonts/JetBrainsMonoNLNerdFontMono-Regular.ttf" ]; then
    echo "Install JetBrainsMono NerdFont..."
    mkdir -p {{ .chezmoi.homeDir }}/.local/share/fonts
    curl -o /tmp/JetBrainsMono.zip -LO https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip 
    unzip -o /tmp/JetBrainsMono.zip -d {{ .chezmoi.homeDir }}/.local/share/fonts/*
    rm /tmp/JetBrainsMono.zip
    fc-cache ~/.local/share/fonts
fi

# Install NeoVIM 0.9
if [ ! -d "{{.chezmoi.homeDir}}/.local/neovim" ]; then
    echo "Install NeoVIM 0.9..."
    git clone https://github.com/neovim/neovim.git {{.chezmoi.homeDir}}/.local/neovim
    cd {{.chezmoi.homeDir}}/.local/neovim 
    git checkout release-0.9
    make distclean && make CMAKE_BUILD_TYPE=Release
    sudo make install
fi


# sudo apt install zsh
# chsh -s /usr/bin/zsh kpalatzky