#!/usr/bin/env bash

{{ $data := false }}
{{- if eq .opts.mode "personal" -}}
{{-     $data = (joinPath .chezmoi.sourceDir ".personal_data.yaml.age" | include | decrypt | fromYaml) -}}
{{- else if eq .opts.mode "work" -}}
{{-     $data = (joinPath .chezmoi.sourceDir ".work_data.yaml.age" | include | decrypt | fromYaml) -}}
{{- end -}}


# write to file
{{ if $data }} 
{{ . | setValueAtPath (list "git" "user") $data.git.user }}
{{ . | setValueAtPath (list "git" "email") $data.git.email }}
{{ . | setValueAtPath (list "secrets" "deeplApiKey") $data.secrets.deeplApiKey }}

cat << EOF > {{ .chezmoi.sourceDir }}/.chezmoidata.yml
git:
    user: {{ $data.git.user }}
    email: {{ $data.git.email }}
secrets:
    deeplApiKey: {{ $data.secrets.deeplApiKey }}
EOF
{{- end -}} 